@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 1.5;
    color:#243E63; 
}

h1 {
    font-size: 48px;
    color: #1A202C;
    max-width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    padding-bottom: 4px;
    transition: all 300ms ease-in-out;
}

ul {
    list-style-type: none;
}

.text--purple {
    color:#6415FF;
}

/* 

NAVIGATION 

*/


.nav__logo--img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    margin-left: 0;
}

.nav__logo--treact {
    color: #243E63;
    font-size: x-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.nav__logo--treact:hover {
    color: #6415FF;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 32px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__links {

    display: flex;
    justify-content: space-between;
    margin-right: 0;
    font-weight: bold;
}

.nav__link {
    padding: 0 24px;
    color: #243E63;
}

.nav__link--login {
    margin: 0 24px 0 48px;
}

.nav__link--signup {
    color: #F7FAFC;
    background-color: #6415FF;
    padding: 12px 32px;
    border-radius: 45px;
    transition: all 300ms ease;
}

.nav__link--signup:hover {
    background-color:#4404c4;
    text-decoration: none;
    color: #F7FAFC;
}

.link__hover--effect:hover {
    text-decoration: underline 2px;
    text-underline-offset: 8px;
    color:#6415FF;
}

.button__menu {
    color:#1A202C;
    background-color: transparent;
    font-size: 32px;
    text-align: center;
    border: none;
    display: none;
    margin-right: 0;
}

/* 

LANDING 

*/

.header__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.header__description {
    width: 40%;
}

.header__img--wrapper {
    display: flex;
    width: 60%;
}

.header__img {
  width: 100%;
  margin-right: 0;
}

.header__container {
    padding: 96px 32px;
    display: flex;
    flex-direction: column;
}

.header__para {
    width: 100%;
    margin: 32px 0;
    font-size: 18px;
}

.customers__logo--wrapper {
    margin-top: 80px;
}

.customers__logo--para {
    color: #A0AEC0;
    font-size: 12px;
    font-weight: bold;
}

.customers__logo--img {
    width: 110%;
    filter: grayscale(1) invert(1);
    margin-top: 16px;
    padding-right: 128px;
}

.email--wrapper {
    display: flex;
    border: 3px solid rgba(203, 208, 214, 0.432);
    padding: 5px;
    border-radius: 50px;
    box-sizing: border-box;
    transition: all 300ms ease;
}

.email__button,
.qw__button,
.values__button {
    background-color: #6415FF;
    color: white;
    font-weight: bold;
    font-size: large;
    position: relative;
    padding: 20px 32px;
    border-radius: 50px;
    margin: 0;
    border: none;
    transition: all 300ms ease;
}

.email__button:hover {
    background-color: #4404c4;
}

.email--wrapper:hover {
    border: 3px solid rgba(109, 111, 114, 0.432);
}

.email--wrapper:active {
    border: 3px solid #4404c4;
}

.input {
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: bold;
    border: none;
    outline: none;
    opacity: 0.3
}

.input:active {
    color: rgb(0, 0, 0);
    opacity: 1;
}

/* 

FEATURES

*/

.features__description {
    display: flex;
    flex-direction: column;
}

.features__container {
    padding: 80px 0;
}

.features__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.features__title {
    font-size: 16px;
    margin-bottom: 16px;
}

.features__subtitle {
    color:#243E63;
    font-size: 48px;
    font-weight: 900;
}

.features__para {
    font-size: 18px;
    font-weight: 500;
    color: #7C8BA1;
    margin-top: 16px;
    margin-bottom: 60px;
    width: 70%;
    text-align: center;
}

.services__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service {
    width: calc(100% / 3);
    display: flex;
    padding: 32px 8px;
}

.services__description {
    margin: 8px 0 0 16px;
}

.service__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color:#243E63;
}

.service__para {
    display: flex;
    justify-content: start;
    max-width: 100%;
    font-size: 16px;
    margin-top: 16px;
    color: #7C8BA1;
    font-weight: 500;
    line-height: 2;
}

.services__img {
    color: #6415FF;
    border: 2px solid rgba(203, 208, 214, 0.432);
    padding: 24px;
    border-radius: 50px;
    font-size: larger;
    width: 74px;
    height: 74px;
}




/* 

QUALITY WORK 

*/ 

.qw__button {
    margin-top: 32px;
    width: 50%;
}

.qw__button:hover {
    background-color: #4404c4;
}

.qw__title {
    font-size: 16px;
    font-weight: 700;
}

.qw__subtitle {
    color:#243E63;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
}

.qw__para {
    font-size: 16px;
    color:#7C8BA1;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 16px;
}

.qw__container {
    margin: 96px 130px;
}

.qw__row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

.qw__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.qw__img--wrapper {
    width: 100%;
    padding-right: 32px;
    margin: auto;
}

.qw__img {
    width: 100%;
    margin-left: 32px;
    border: 2px solid rgba(203, 208, 214, 0.432);
    border-radius: 6px;
}

/* 

STEPS 

*/

.step__img--wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

.step__img {
    width: 100%;
}

.steps__container {
    display: flex;
    padding: 96px 0;
}

.steps__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.steps__description {
    width: 50%;
    text-align: left;
    margin-left: 64px;
}

.steps__main--title {
    font-size: 16px;
}

.steps__main--subtitle {
    color:#243E63;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
}

.steps__wrapper {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.step__text {
    margin: 12px 16px;
}

.step__number {
    font-size: 48px;
    color: #CBD5E0;
    font-weight: 600;
    margin: 0;
}

.step__title {
    color:#243E63;
    font-size: 20px;
    font-weight: 600;
}

.step__para {
    color:#718096;
    font-size: 14px;
    font-weight: 500;
    margin: 16px 0;
}

.step {
    width: 70%;
    display: flex;
    margin: 0;
}


/* 

VALUES

*/

.values__container {
    display: flex;
    flex-direction: row;
}

.values__row {
    width: 100%;
    max-width: 1200px;
    display: flex;
}

.values__img--wrapper {
    width: 180%;
    margin: 0 auto;
}

.values__img {
    width: 100%;
    margin-left: 48px;
}

.values__title {
    font-size: 16px;
}

.values__subtitle {
    font-size: 48px;
    font-weight: 900;
    color:#243E63;
    margin-top: 16px;
}

.values__para {
    color:#7C8BA1;
    font-size: 18px;
    font-weight: 500;
    margin-top: 32px;
}

.sub__para {
    display: flex;
}

.affordable__wrapper {
    margin: 32px 32px 0 0;
}

.affordable__wrapper--title-container {
    display: flex;
    align-items: center;
}

.affordable__icon {
    font-size: 24px;
    color: rgb(0, 49, 0);
    padding: 6px;
    border: 2px solid rgb(155, 214, 155);
    border-radius: 50px;
    background-color: rgb(155, 214, 155);
    margin: 0;
}

.affordable__title {
    margin: 0;
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
    color:#243E63;
}

.affordable__para {
    color:#718096;
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.5;
    font-weight: 500;
}

.professionalism__wrapper {
    margin: 32px 32px 0 0;
}

.professionalism__wrapper--title-container {
    display: flex;
    align-items: center;
}

.professionalism__icon {
    font-size: 24px;
    color: rgb(49, 0, 0);
    padding: 6px 9px 6px 9px;
    border: 2px solid rgb(204, 137, 137);
    border-radius: 50px;
    background-color: rgb(204, 137, 137);
    margin: 0;
}

.professionalism__title {
    margin: 0;
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
    color:#243E63;
}

.professionalism__para {
    color:#718096;
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.5;
    font-weight: 500;
}

.values__button {
    margin-top: 48px;
}

.values__button:hover {
    background-color: #4404c4;
}


/*

PLANS -- PERSONAL

*/

.plans__container {
    padding-top: 96px;
}

.plans__description {
    display: flex;
    flex-direction: column;
}

.plans__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

.plans__subtitle {
    color:#243E63;
    font-size: 48px;
    font-weight: 900;
}

.plans__para {
    width: 45%;
    text-align: center;
    color:#7C8BA1;
    font-size: 18px;
    margin-top: 16px;
}

.three__plans--container {
    width: 80%;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 96px 0;
}

.personal__container {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3)
}

.personal__header--container {
    padding: 32px 0;
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    border: 2px solid rgb(226, 232, 240);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.personal__name {
    color:#1A202C;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 0;
}

.personal__price {
    color:#1A202C;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.personal__duration {
    color:#A0AEC0;
    font-size: 16px;
    font-weight: 700;
}

.personal__features--container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(226, 232, 240);
    margin: 0 12px;
}

.personal__feature--main {
    color:#1A202C;
    font-size: 20px;
    font-weight: 700;
}

.personal__feature {
    color:#718096;
    font-size: 16px;
    font-weight: 500;
    margin-top: 32px;
}

.personal__action--container {
    padding: 32px;
    margin: 0 12px;
    border: 2px solid rgb(226, 232, 240);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal__action--button {
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #F7FAFC;
    padding: 24px 68px;
    border-radius: 50px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    transition: all 300ms ease;
}

.personal__action--button:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, .3);
}

/*

PLANS -- BUSINESS

*/

.business__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
}

.business__header--container {
    padding: 32px 0;
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    border: 2px solid rgb(118, 141, 240);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    background-position-x: "";
    background-position-y: "";
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}

.business__name {
    color:#F7FAFC;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 0;
}

.business__price {
    color:#F7FAFC;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.business__duration {
    color:#F7FAFC;
    font-size: 16px;
    font-weight: 700;
}

.business__features--container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(118, 141, 240);
    margin: 0 12px;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    background-position-x: "";
    background-position-y: "";
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}

.business__feature--main {
    color:#F7FAFC;
    font-size: 20px;
    font-weight: 700;
}

.business__feature {
    color:#F7FAFC;
    font-size: 16px;
    font-weight: 500;
    margin-top: 32px;
}

.business__action--container {
    padding: 32px;
    margin: 0 12px;
    border: 2px solid rgb(118, 141, 240);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    background-position-x: "";
    background-position-y: "";
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}

.business__action--button {
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #6415FF;
    padding: 24px 68px;
    border-radius: 50px;
    background-color: #F7FAFC;
    transition: all 300ms ease;
}

.business__action--button:hover {
    opacity: 0.8;
    transform: translateY(-4px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, .3);
}

/*

PLANS -- ENTERPRISE

*/

.enterprise__container {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3)
}

.enterprise__header--container {
    padding: 32px 0;
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    border: 2px solid rgb(226, 232, 240);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.enterprise__name {
    color:#1A202C;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 0;
}

.enterprise__price {
    color:#1A202C;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.enterprise__duration {
    color:#A0AEC0;
    font-size: 16px;
    font-weight: 700;
}

.enterprise__features--container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(226, 232, 240);
    margin: 0 12px;
}

.enterprise__feature--main {
    color:#1A202C;
    font-size: 20px;
    font-weight: 700;
}

.enterprise__feature {
    color:#718096;
    font-size: 16px;
    font-weight: 500;
    margin-top: 32px;
}

.enterprise__action--container {
    padding: 32px;
    margin: 0 12px;
    border: 2px solid rgb(226, 232, 240);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enterprise__action--button {
    display: flex;
    flex-direction: row;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #F7FAFC;
    padding: 24px 68px;
    border-radius: 50px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    transition: all 300ms ease;
}

.enterprise__action--button:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, .3);
}

/*

TESTIMONIALS

*/

.testimonials__container {
    width: 100%;
    padding: 42px;
}

.testimonials__row {
    width: 100%;
    display: flex;
}

.testimonials__img--wrapper {
    width: 50%;
}

.testimonials--img {
    width: 100%;
}

.testimonials__description--wrapper {
    width: 50%;
}

.testimonials__description {
    margin-left: 36px;
}

.testimonials__title {
    font-size: 16px;
}

.testimonials__subtitle {
    font-size: 48px;
    color:#243E63;
    font-weight: 900;
    margin-top: 16px;
}

.testimonials__para {
    color:#7C8BA1;
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.testimonial__container {
    margin-left: 36px;
    margin-top: 28px;
}

.testimonial__rating {
    color: rgb(246 173 85);
    font-size: larger;
    margin-bottom: 16px;
}

.testimonial__title {
    font-size: 20px;
    color:#243E63;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 16px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #4A5568;
}

.testimonial__customer--info-container {
    width: 100%;
    display: flex;
}

.testimonial__customer--img {
    width: 80px;
    height: 80px;
    border: 2px transparent;
    border-radius: 50px;
    margin: 0;
}

.testimonial__customer--info {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial__customer--name {
    margin: 0 0 4px 0;
    font-size: 20px;
    color:#243E63;
    font-weight: 700;
}

.testimonial__customer--title {
    font-size: 16px;
    color:#7C8BA1;
    font-weight: 500;
}

.testimonial__arrows--container {
    margin: 0;
    display: flex;
    align-items: center;
}

.testimonial__arrow {
    color:#6415FF;
    font-size: larger;
    margin: 12px;
    border: 2px solid #e6eaee;
    border-radius: 50px;
    background-color:#e6eaee;
    padding: 20px 22px;
    transition: all 300ms ease;
}

.testimonial__arrow:hover {
    background-color: #d9dddf;
    cursor: pointer;
}

/* 

GET STARTED 

*/

#get__started {
    display: flex;
    justify-content: center;
}

.get__started--container {
    width: 90%;
    background-color: #6415FF;
    margin: 100px 32px;
    padding: 100px;
    border: transparent;
    border-radius: 8px;
}

.get__started--content {
    display: flex;
}

.get__started--text-container {
    width: 50%;
}

.get__started--text {
    color:#F7FAFC;
    font-weight: 700;
    font-size: 30px;
}

.get__started--button {
    border: 2px solid transparent;
    background-color: rgb(245 101 101);
    border-radius: 50px;
    padding: 24px 40px;
    font-size: 16px;
    font-weight: 700;
    color:#F7FAFC;
    margin-right: 32px;
    transition: all 300ms ease;
}

.gs__contact-us--button {
    border: 2px solid rgb(160 174 192);
    background-color: #6415FF;
    border-radius: 50px;
    padding: 24px 40px;
    font-size: 16px;
    font-weight: 700;
    color:#F7FAFC;
    transition: all 300ms ease;
}

.get__started--button:hover {
    background-color: rgb(209, 82, 82);
    cursor: pointer;
}

.gs__contact-us--button:hover {
    background-color: #F7FAFC;
    color:#6415FF;
    border-color: #F7FAFC;
    cursor:pointer;
}


/* 

FOOTER 

*/

.footer__container {
    position: relative;
    background-color: rgb(100 21 255);
    padding: 5rem 2rem;
    margin-top: 150px;
}

.footer__row {
    width: 100%;
    max-width: 1600px;
    margin: 0 12px;
}

.footer__links--container {
    display: flex;
    flex-direction: wrap;
    width: 100%;
}

.footer__link--container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(100% / 5);
    align-items: center;
    margin-top: 48px;
}

.footer__link--name {
    font-size: 16px;
    color:#F7FAFC;
    font-weight: 700;
    margin: 0;
}

.footer__link--list {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.footer__link {
    width: 100%;
    color:#F7FAFC;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
    transition: all 300ms ease;
}

.footer__divider {
   margin-top: 4rem;
   margin-bottom: 4rem;
   width: 100%;
   border-color: rgb(116 44 255);
   border-bottom-width: 0px;
   border-style: solid;
}

.footer__bottom--section-container {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo--container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__logo--img {
    width: 32px;
    height: 32px;
}

.footer__logo--name {
    color:#F7FAFC;
    margin-left: 8px;
    font-size: 20px;
}

.footer__copyright {
    color:#CBD5E0;
    font-size: 16px;
    font-weight: 500;
}

.footer__social-link {
    color:#1A202C;
    margin-right: 12px;
    padding: 8px;
    background-color: #F7FAFC;
    border: 2px solid #F7FAFC;
    border-radius: 50px;
    transition: all 300ms ease;
}

.footer__social-link-f {
    padding-left: 12px;
}

.footer__social-link-y {
    padding: 8px 10px;
}

.footer__link:hover {
    text-decoration: underline 2px;
    text-underline-offset: 8px;
    color:#F7FAFC;
}

.footer__social-link:hover {
    opacity: 0.8;
}


/*

TABLETS

*/

@media (max-width:900px){
    .nav__links {
        display: none;
    }

    .button__menu {
        display: block;
    }

    .header__title {
        width: 100%;
    }

    p {
        font-size: 30px;
        margin: 12px 0;
        width: 100%;
    }

    .header__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header__description {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 24px;
        width: 100%;
    }

    .header__img--wrapper {
        width: 100%;
    }

    .customers__logo--wrapper {
        width: 100%;
        height: 100%;
    }

    .features__description {
        width: 100%;
        text-align: center;
    }

    .features__para {
        width: 98%;
    }

    .service {
        width: calc(100% / 2);
        display: flex;
        padding: 32px 8px;
    }

    .qw__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .qw__img--wrapper {
        margin: 12px 0;
        width: 100%;
    }

    .qw__img {
        width: 100%;
    }

    .qw__description {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .qw__button {
        margin-top: 12px;
        width: 45%;
    }

    .steps__row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .steps__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .steps__main--subtitle {
        text-align: center;
    }

    .steps__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 12px 24px;
    }

    .values__container {
        margin: 0 24px;
    }

    .values__row {
        display: flex;
        flex-direction: column;
    }

    .values__description {
        text-align: center;
    }

    .sub__para {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .affordable__wrapper {
        width: 80%;
    }

    .affordable__wrapper--title-container {
        display: flex;
        justify-content: center;
    }

    .professionalism__wrapper {
        width: 80%;
    }

    .professionalism__wrapper--title-container {
        display: flex;
        justify-content: center;
    }

    .values__img--wrapper {
        display: flex;
        align-items: center;
    }

    .values__img {
        width: 50%;
        padding: 50px;
    }

    .personal__container {
        display: flex;
        flex-direction: column;
        width: calc(100% / 1);
        margin-bottom: 24px;
    }

    .business__container {
        display: flex;
        flex-direction: column;
        width: calc(100% / 1);
        margin-bottom: 24px;
    }

    .enterprise__container {
        display: flex;
        flex-direction: column;
        width: calc(100% / 1);
        margin-bottom: 24px;
    }

    .plans__description {
        text-align: center;
    }

    .plans__para {
        width: 100%;
        
    }

    .testimonials__row {
        display: flex;
        flex-direction: column;
    }

    .testimonials__description--wrapper {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .get__started--content {
        display: flex;
        flex-direction: column;
    }

    .get__started--text-container {
        width: 100%;
        text-align: center;
        margin: 0 0 12px 0;
    }

    .get__started--buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .get__started--button {
        margin: 0 0 12px 0;
    }

    .footer__bottom--section-container {
        display: flex;
        flex-direction: column;
    }

    footer {
        width: 100vw;
    }

    .footer__container {
        text-align: center;
    }

    .footer__social-links {
        margin-top: 12px;
    }

    .footer__links--container {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__link--container {
        display: flex;
        flex-direction: column;
        width: calc(100% / 3);
        align-items: center;
        margin-top: 48px;
    }
}

/* 

PHONES

*/


@media (max-width: 550px){

    .features__description {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .features__para {
        width: 98%;
        margin: 12px 12px 12px 12px;
    }

    .service {
        width: calc(100% / 1);
        display: flex;
        padding: 32px 8px;
    }

    .footer__links--container {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__link--container {
        display: flex;
        flex-direction: column;
        width: calc(100% / 2);
        align-items: center;
        margin-top: 48px;
    }

    .qw__container {
        margin: 0 12px;
    }
}
